@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt_wght.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .p-clamped {
    padding: clamp(1.5rem, 5vw, 2.5rem);
  }
}
